@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

:root {
    --green: #c5f82a;
    --white: #fff;
    --lightgrey: #333333;
    --medgrey: #1f1f1f;
    --darkgrey: #141414;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body p {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}













/* Footer */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }